.top-buffer-20 {
    margin-top: 20px;
}

.test {
    background-color: #00b3ee;
}

.side-menu {
    background-color: #888a85;
    padding: 10px
}

img {
    height: 150px;
    width: 150px;
}

.priceTitle {
    color:#00b3ee;
    font-weight: bold;
}

.price {
    color:#d58512;

    font-weight: bold;
}